{% block content %}
<div class="content-body container-fluid s-dashboard">
    <div class="page-header">
        <h1>User Guide</h1>
    </div>

    <div class="box box-primary">
        <div class="box-body">
            <p>Welcome to the User Guide! Click <a href="https://youtube.com" target="_blank">here</a> to visit our YouTube channel.</p>
        </div>
    </div>
</div>
{% endblock %}
